[Desktop Entry]

Type=Application
Version=1.0
Name=GOGLauncher
Comment=GOG Games Launcher
Path=/usr/local/bin/goglauncher
Exec=goglauncher
Icon=
Terminal=false
Categories=Games;
